/* css extra para sitio */

.oculto 
{
    display:none;
}

.texto_oficio {
    color: black;
}

@media (min-width: 600px){
  .login-box, .register-box {
      width: 440px;
  }
}

a.navbar-brand.center-block {
    float: initial;
}

.img-responsive {
    margin: 0 auto;
}

.login-logo a {
    color: rgb(0, 0, 0);
}

.login-page {
    background: #92b6ff;
}

.login-box-body {
    background: rgb(51, 23, 138);
    color: #fff;
}
